<!DOCTYPE html>

{% extends "main_menu/base.html" %}
	
{% block body_block%}
<div class="container">
<p class="lead"><strong>Education</strong></p>
<ul>
	<li>Oct 2007 Doctor of Philosophy (PhD) in Nuclear Physics <br>
	FACULTÉ DES SCIENCES, UNIVERSITÉ DE NANTES, NANTES, FRANCE
	<li>May 2003 Maitrise (Master of Arts) in Physics <br>
	FACULTÉ DES SCIENCES, UNIVERSITÉ DE NANTES, NANTES, FRANCE
</ul>
<hr>
</div>

<div class="container">
<p class="lead"><strong>Research Experience</strong></p>
KENT STATE UNIVERSITY | KENT, OH (Apr 2008–Aug 2016)
<br>
<ul>
	<li><mark>Senior Research Scientist Jan 2014–Aug 2016</mark>
		<ul>
			<li>Take charge as software coordinator of the Silicon Strip Detector, responsible for developing and maintaining
offline code (C++) used for raw data evaluation of SSD along with other necessary calibration tables
			<li>Administer data analysis of STAR experiment for particle identification with the use of machine learning
algorithm; proficiently utilize Toolkit for Multivariate Analysis (TMVA) package which involves C++
implementation of Machine Learning through ROOT framework
		</ul>
	<li><mark>Postdoctoral Research Associate Apr 2008–Jan 2014</mark>
		<ul>
			<li>Functioned as software coordinator for one of the subsystems, namely SSD; took charge of formulating and
maintaining offline algorithms as well as calibration tables needed for the reconstruction of raw data
included in the subsystem
			<li>Actively participated in all aspects of Heavy Flavor Tracker PXL detector, which comprised of MonteCarlo
simulations of the PXL detector during misalignment on the data in addition to early model of PXL in the
Abstract Geometry Modeling Language (AgML)
			<li>Initiated the execution of RHIC run 7 data analysis, focusing on the use of silicon vertex detectors for
charmed particles reconstruction
			<li>Regulated the process of adapting cellular automaton for HFT detector along with machine learning
(TMVA, ROOT framework) for RHIC data analysis
			<li>Served as member of the Solenoidal Tracker at Relativistic Heavy Ion Collider (RHIC) (<a href="https://www.star.bnl.gov/">STAR</a>) experiment at the Brookhaven National Laboratory located in Long Island, New York
		</ul>
</ul>
<hr>
</div>

<div class="container">
<p class="lead"><strong>Professional Development</strong></p>
<ul>
	<li>Udemy
		<ul>
			<li>Dec. 2016: Introduction to Computer Vision | Master OpenCV in Python
			<li>Dec. 2016: Scala and Spark for Big Data and Machine Learning
			<li>Dec. 2016: Learn Advanced C# Scripting in Unity 5
			<li>June 2016: Time Series Analysis and Forecasting in R
			<li>June 2016: Tableau 9 for Data Science
			<li>June 2016: R Programming: Advanced Analytics in R for Data Science
			<li>Apr. 2016: Learn MongoDB : Leading NoSQL Database from scratch
			<li>Apr. 2016: The Complete SQL Bootcamp
			<li>Jan. 2016: Introduction to Machine Learning in R
			<li>Dec. 2015: Taming Big Data with MapReduce and Hadoop
		</ul>
	<li>Johns Hopkins University - Coursera
		<ul>
			<li>Nov. 2015: Hadoop Platform and Application Framework
			<li>Nov. 2015: Introduction to Big Data Analytics
			<li>Nov. 2015: Statistical Inference
			<li>Oct. 2015: R Programming
		</ul>
</ul>
<hr>
</div>

<div class="container">
<p class="lead"><strong>Technical skills</strong></p>
<ul>
	<li>Programming Languages: C++ | Python | Shell Scripting | R Programming
	<li>Data analysis: ROOT | NumPy, Scikit | R
	<li>Software: Linux | UNIX | R studio
	<li>Databases: MySQL, PostGreSQL(beginner), MongoDb(beginner)
	<li>Web development: html, css, bootstrap, Django(beginner), Node(beginner)
</ul>
<hr>
</div>

{% endblock %}