<!DOCTYPE html>

{% extends "main_menu/base.html" %}
	
{% block body_block%}
<div class="jumbotron">
<h1 class="display-3">Jonathan Bouchet</h1>
<p class="lead">Data scientist, physicist, runner</p>
<p><a href="mailto:bouchetjonathan@gmail.com">contact me</a></p>
<hr class="my-4">
<p>
<a class="btn btn-info" href="https://www.linkedin.com/in/jonathanbouchet/">Linkedin</a>

<a class="btn btn-info" href="https://github.com/jonathanbouchet">Github</a>

<a class="btn btn-info" href="https://sites.google.com/site/jonathanbouchet0928/others">Personal page</a>

<a class="btn btn-info" href="https://rpubs.com/jonathanbouchet">R (pubs)</a>

<a class="btn btn-info" href="https://www.kaggle.com/jonathanbouchet/">Kaggle</a>

</p>
<p class="lead">
</p>
</div>

{% endblock %}
