<!DOCTYPE html>

{% extends "main_menu/base.html" %}
	
{% block body_block%}

<div class="container">
<p class="lead">Publications</a></p>
<a href="http://iopscience.iop.org/article/10.1088/1742-6596/396/2/022007/meta">Identification of charmed mesons using Multivariate analysis in STAR</p>
<a href="https://pos.sissa.it/cgi-bin/reader/contribution.cgi?id=135/031"> Charmed decay reconstruction using a microvertexing technique with the STAR Silicon Detectors</p>
<a href="https://arxiv.org/abs/0907.3407"> Heavy Flavor Tracker (HFT) : A new inner tracking device at STAR</p>
<hr>
</div>

<div class="container">
<p class="lead"><a href="https://rpubs.com/jonathanbouchet/runningDataTomTom">Running app. visualization</a></p>
<p>convert my running data from running watch(binary) to csv file, data analysis</p>
python, R, shell
<hr>
</div>

<div class="container">
<p class="lead"><a href="https://jonathanbouchet.shinyapps.io/RioApp/">Rio 2016 Olympics games app.</a></p>
<p>tracked daily medals per country and display them</p>
python, web api, R, R shiny
<hr>
</div>

<div class="container">
<p class="lead"><a href="https://jonathanbouchet.shinyapps.io/pokeData/">Pokemon app.</a></p>
<p>mean characteristics of Pokemon (gen 1-6) with radarcharts</p>
R shiny, data analysis
<hr>
</div>

<div class="container">
<p class="lead"><a href="https://jonathanbouchet.shinyapps.io/visualization_transport_system/">London Transport System visualization</a></p>
<p>Visualization of London transport systems, data from Kaggle, via <a href="http://www.citylines.co/">citylines.co data</a></p>
R shiny, data analysis
<hr>
</div>

<div class="container">
<p class="lead">Contributions to fivethirtyeight R package</p>
<a href="https://github.com/rudeboybert/fivethirtyeight">fivethirtyeight</a></p>
<a href="https://github.com/rudeboybert/fivethirtyeight/blob/master/vignettes/comics_gender.Rmd">Gender in comics analysis</a></p>
<a href="https://github.com/rudeboybert/fivethirtyeight/blob/master/vignettes/bobRoss.Rmd">Analysis of the work of Bob Ross.</a></p>
R, data analysis
<hr>
</div>

<div class="container">
<p class="lead">VideoGames data analysis, Twitch Data analysis</p>
<a href="https://rpubs.com/jonathanbouchet/destiny_ROI">Twitch Data analysis</a></p>
<a href="https://rpubs.com/jonathanbouchet/238474">videogames data(sales, scores) : data exploration, prediction of sales</a></p>
<a href="https://rpubs.com/jonathanbouchet/sc2_playerProfile">Starcraft: player profiles</a></p>
<a href="https://rpubs.com/jonathanbouchet/sc2_leaguePrediction">Starcraft: modeling player's profile</a></p>
<a href="https://www.kaggle.com/jonathanbouchet/d/kinguistics/starcraft-scouting-the-enemy/inferring-strategies-in-starcraft-paper-study">Starcraft: inferring strategies</a></p>
web api, python, R, data analysis
<hr>
</div>

<div class="container">
<p class="lead"><a href="https://sites.google.com/site/jonathanbouchet0928/others">Old stuffs</a></p>
<p>links to my old perso webpage</p>
<p>data analysis(scikit), Kaggle's analysis, Unity stuffs, openCV stuffs, ...</p>
<hr>
</div>

{% endblock %}
